<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS Spam Detection</title>
    <link rel="stylesheet" 
    href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="container">

    <h1>📩 Spam Email Detection</h1>

    <p>
        Enter an Email below and our Machine Learning model will predict
        whether it is <strong>Spam</strong> or <strong>Not Spam</strong>.
    </p>

    <form method="post" class="sms-form">
        <input
            type="text"
            name="user_input"
            placeholder="Type your SMS here..."
            required
        >

        <button type="submit">Predict</button>
    </form>

    {% if para %}
        {% if status == 1 %}
            <div class="result spam">
                🚨 Spam Email
            </div>
        {% else %}
            <div class="result not-spam">
                ✅ Not a Spam Email
            </div>
        {% endif %}
    {% endif %}

</div>

</body>
</html>